@font-face {
  font-family: "Saira-Regular";
  src: url("../fonts/Saira-Regular.ttf");
}

@font-face {
  font-family: "Saira-Light";
  src: url("../fonts/Saira-Light.ttf");
}

@font-face {
  font-family: "Saira-Medium";
  src: url("../fonts/Saira-Medium.ttf");
}

@font-face {
  font-family: "Saira-Bold";
  src: url("../fonts/Saira-Bold.ttf");
}
